:root {
  // accent colors
  --vp-c-accent: #1976d2;
  --vp-c-accent-bg: #3387DC;
  --vp-c-accent-hover: #4C96E1;
  --vp-c-accent-text: var(--vp-c-white);
  --vp-c-accent-soft: rgb(16 185 129 / 14%);
}

.home .feature h2 {
  white-space: pre-wrap;
}

.vp-hero-action-button.secondary:hover {
  color: var(--vp-c-accent-hover);
}